services:
  node:
    build:
      context: .
      dockerfile: .docker/compose/nodejs/Dockerfile.local
    container_name: twenty_node
    extends:
      file: .docker/compose/nodejs/node.yml
      service: node
    volumes:
      - ${PWD}:/work
    ports:
      - '13300:3000'
      - '13301:3001'
    depends_on:
      - db
    networks:
      - twenty-network

  db:
    container_name: twenty_db
    extends:
      file: .docker/compose/postgresql/postgresql.yml
      service: postgresql
    ports:
      - '15534:5432'
    volumes:
      - ${PWD}/.docker/volumes/pgdata:/var/lib/postgresql/data
    networks:
      - twenty-network
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "secret"
      POSTGRES_DB: "default"

  redis:
    container_name: twenty_redis
    extends:
      file: .docker/compose/redis/redis.yml
      service: redis
    ports:
      - '16334:6379'
    networks:
      - twenty-network
    volumes:
      - ${PWD}/.docker/volumes/redis_data:/data
    command: redis-server --appendonly yes --dir /data


volumes:
  pgdata:
  redis_data:

networks:
  twenty-network: